.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
  	display: flex;
  	text-align: center;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.menu {
  	margin: 0 auto;
    z-index: 3;
  	position: absolute;
	top: 3%;
  	left: 20%;
  	width : 70%;
  	background-color : #fff;
  	border-radius: 3px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
}

.search_box {
	width: 70%;
}

.bubble
{
position: relative;
width: 50px;
height: 35px;
padding: 0px;
background: #099268;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
border-radius: 11px;
display: inline-block;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 13px 8px 0;
border-color: #099268 transparent;
display: block;
width: 0;
z-index: 1;
bottom: -13px;
left: 27px;
}

.content 
{
position: absolute;
left: 50%;
top: 50%;
 transform: translate(-50%,-50%) 
}